<?xml version="1.0" encoding="utf-8"?>
<component name="Settings" extends="JFScreen">
  <interface>
    <field id="restoreMiniPlayerOnClose" type="boolean" value="false" />
  </interface>

  <children>

    <Rectangle id="panelBackdrop" translation="[0, 0]" width="1920" height="1080" color="#000000" opacity="0.70" />
    <Rectangle id="panelBackground" translation="[1120, 0]" width="800" height="1080" color="#101826" />

    <Text id="path" translation="[1140, 160]" font="font:SmallestBoldSystemFont" />
    <MultiStyleLabel id="version" translation="[1140, 1020]" />

    <MarkupList
      translation="[1146, 220]"
      id="settingsMenu"
      itemComponentName="SettingsMenuItem"
      itemSize="[747, 120]"
      itemSpacing="[0,10]"
      numRows="6"
      vertFocusAnimationStyle="floatingFocus" />

    <Text id="settingDesc" translation="[180, 180]" width="880" wrap="true" horizAlign="left" visible="false" />

    <RadioButtonList id="radioSetting" numRows="6" vertFocusAnimationStyle="floatingFocus" translation="[280, 280]" visible="false" />

    <RadioButtonList id="boolSetting" vertFocusAnimationStyle="floatingFocus" translation="[560, 400]" visible="false">
      <ContentNode role="content">
        <ContentNode title="Disabled" />
        <ContentNode title="Enabled" />
      </ContentNode>
    </RadioButtonList>

    <ColorGrid
      id="colorgrid"
      translation="[60, 240]"
      itemComponentName="ColorOption"
      numColumns="15"
      numRows="9"
      rowHeights="[50]"
      visible="false"
      vertFocusAnimationStyle="fixed"
      itemSize="[50, 50]"
      itemSpacing="[20, 20]"
      drawFocusFeedback="true" />

    <Slider id="slider" translation="[180, 440]" visible="false" />

    <IntegerKeyboard translation="[500, 400]" id="integerSetting" domain="numeric" visible="false" />
    <Timer id="keypressTimer" duration="5" />
  </children>
</component>